.leftSection {
    background-color: var(--col1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newChat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 10%;
}

.text1{
    color: white;
    background-color: rgba(130, 42, 165, 0.233);
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
.text01{
    color: white;
    font-weight: bolder;
    font-size: 33px;
    cursor: pointer;
}

.newChat div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.newChat div img{
    border-radius: 50%;
    
}
.newChat svg {
    width: 30px;
    height: 30px;
    color: white;
}

.allChats{
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    gap: 15px;
    padding: 100px 20px;
}
